.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    margin: 10px;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.btn-delete:hover{
    background-color: red;
    color: white;
}
.btn-delete{
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 5px;
    width: 100%;
}

.red{
    color: red;
}

.blue{
    color: blue;
}